In [1]:
import numpy

In [2]:
import pandas

In [4]:
data = pandas.read_csv("F:\UB Spring\AML\Bank_Defaults.csv")

In [5]:
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,may,341,1,330,2,other,no
7,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,married,tertiary,no,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no
10,39,services,married,secondary,no,9374,yes,no,unknown,20,may,273,1,-1,0,unknown,no
11,43,admin.,married,secondary,no,264,yes,no,cellular,17,apr,113,2,-1,0,unknown,no
12,36,technician,married,tertiary,no,1109,no,no,cellular,13,aug,328,2,-1,0,unknown,no
13,20,student,single,secondary,no,502,no,no,cellular,30,apr,261,1,-1,0,unknown,yes
14,31,blue-collar,married,secondary,no,360,yes,yes,cellular,29,jan,89,1,241,1,failure,no
15,40,management,married,tertiary,no,194,no,yes,cellular,29,aug,189,2,-1,0,unknown,no
16,56,technician,married,secondary,no,4073,no,no,cellular,27,aug,239,5,-1,0,unknown,no
17,37,admin.,single,tertiary,no,2317,yes,no,cellular,20,apr,114,1,152,2,failure,no
18,25,blue-collar,single,primary,no,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no
19,31,services,married,secondary,no,132,no,no,cellular,7,jul,148,1,152,1,other,no
20,38,management,divorced,unknown,no,0,yes,no,cellular,18,nov,96,2,-1,0,unknown,no
21,42,management,divorced,tertiary,no,16,no,no,cellular,19,nov,140,3,-1,0,unknown,no
22,44,services,single,secondary,no,106,no,no,unknown,12,jun,109,2,-1,0,unknown,no
23,44,entrepreneur,married,secondary,no,93,no,no,cellular,7,jul,125,2,-1,0,unknown,no
24,26,housemaid,married,tertiary,no,543,no,no,cellular,30,jan,169,3,-1,0,unknown,no
25,41,management,married,tertiary,no,5883,no,no,cellular,20,nov,182,2,-1,0,unknown,no
26,55,blue-collar,married,primary,no,627,yes,no,unknown,5,may,247,1,-1,0,unknown,no
27,67,retired,married,unknown,no,696,no,no,telephone,17,aug,119,1,105,2,failure,no
28,56,self-employed,married,secondary,no,784,no,yes,cellular,30,jul,149,2,-1,0,unknown,no
29,53,admin.,married,secondary,no,105,no,yes,cellular,21,aug,74,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,35,blue-collar,single,secondary,no,0,yes,no,cellular,16,apr,169,1,-1,0,unknown,no
4492,32,technician,single,secondary,no,309,yes,yes,cellular,16,apr,346,1,234,3,failure,no
4493,28,technician,single,tertiary,no,0,yes,no,unknown,4,jun,205,6,-1,0,unknown,no
4494,26,technician,single,secondary,no,668,yes,no,unknown,28,may,576,3,-1,0,unknown,yes
4495,48,management,married,tertiary,no,1175,yes,no,telephone,18,nov,1476,3,-1,0,unknown,no
4496,30,blue-collar,single,secondary,no,363,no,no,cellular,28,jul,171,3,-1,0,unknown,no
4497,31,entrepreneur,single,tertiary,no,38,no,no,cellular,20,nov,185,2,-1,0,unknown,no
4498,31,management,married,tertiary,no,1183,yes,no,unknown,27,may,676,6,-1,0,unknown,no
4499,45,blue-collar,divorced,primary,no,942,no,no,cellular,21,nov,362,1,-1,0,unknown,no
4500,38,admin.,married,secondary,no,4196,yes,no,cellular,12,may,193,2,-1,0,unknown,no
4501,34,management,married,tertiary,no,297,yes,no,cellular,26,aug,63,4,-1,0,unknown,no
4502,42,services,married,secondary,no,-91,yes,yes,cellular,5,feb,43,1,-1,0,unknown,no
4503,60,self-employed,married,primary,no,362,no,yes,cellular,29,jul,816,6,-1,0,unknown,yes
4504,42,blue-collar,single,secondary,no,1080,yes,yes,cellular,13,may,951,3,370,4,failure,yes
4505,32,admin.,single,secondary,no,620,yes,no,unknown,26,may,1234,3,-1,0,unknown,yes
4506,42,unemployed,divorced,tertiary,no,-166,no,no,cellular,29,aug,85,4,-1,0,unknown,no
4507,33,services,married,secondary,no,288,yes,no,cellular,17,apr,306,1,-1,0,unknown,no
4508,42,admin.,married,unknown,no,642,yes,yes,unknown,16,may,509,2,-1,0,unknown,no
4509,51,technician,married,tertiary,no,2506,no,no,cellular,30,nov,210,3,-1,0,unknown,no
4510,36,technician,divorced,secondary,no,566,yes,no,unknown,20,may,129,2,-1,0,unknown,no
4511,46,blue-collar,married,secondary,no,668,yes,no,unknown,15,may,1263,2,-1,0,unknown,yes
4512,40,blue-collar,married,secondary,no,1100,yes,no,unknown,29,may,660,2,-1,0,unknown,no
4513,49,blue-collar,married,secondary,no,322,no,no,cellular,14,aug,356,2,-1,0,unknown,no
4514,38,blue-collar,married,secondary,no,1205,yes,no,cellular,20,apr,45,4,153,1,failure,no
4515,32,services,single,secondary,no,473,yes,no,cellular,7,jul,624,5,-1,0,unknown,no
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [11]:
data['default'] = data['default'].astype('category')
data['default'] = data['default'].cat.codes

In [12]:
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,0,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,0,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,0,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,0,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,0,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,single,tertiary,0,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,married,tertiary,0,307,yes,no,cellular,14,may,341,1,330,2,other,no
7,39,technician,married,secondary,0,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,married,tertiary,0,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,married,primary,0,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no
10,39,services,married,secondary,0,9374,yes,no,unknown,20,may,273,1,-1,0,unknown,no
11,43,admin.,married,secondary,0,264,yes,no,cellular,17,apr,113,2,-1,0,unknown,no
12,36,technician,married,tertiary,0,1109,no,no,cellular,13,aug,328,2,-1,0,unknown,no
13,20,student,single,secondary,0,502,no,no,cellular,30,apr,261,1,-1,0,unknown,yes
14,31,blue-collar,married,secondary,0,360,yes,yes,cellular,29,jan,89,1,241,1,failure,no
15,40,management,married,tertiary,0,194,no,yes,cellular,29,aug,189,2,-1,0,unknown,no
16,56,technician,married,secondary,0,4073,no,no,cellular,27,aug,239,5,-1,0,unknown,no
17,37,admin.,single,tertiary,0,2317,yes,no,cellular,20,apr,114,1,152,2,failure,no
18,25,blue-collar,single,primary,0,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no
19,31,services,married,secondary,0,132,no,no,cellular,7,jul,148,1,152,1,other,no
20,38,management,divorced,unknown,0,0,yes,no,cellular,18,nov,96,2,-1,0,unknown,no
21,42,management,divorced,tertiary,0,16,no,no,cellular,19,nov,140,3,-1,0,unknown,no
22,44,services,single,secondary,0,106,no,no,unknown,12,jun,109,2,-1,0,unknown,no
23,44,entrepreneur,married,secondary,0,93,no,no,cellular,7,jul,125,2,-1,0,unknown,no
24,26,housemaid,married,tertiary,0,543,no,no,cellular,30,jan,169,3,-1,0,unknown,no
25,41,management,married,tertiary,0,5883,no,no,cellular,20,nov,182,2,-1,0,unknown,no
26,55,blue-collar,married,primary,0,627,yes,no,unknown,5,may,247,1,-1,0,unknown,no
27,67,retired,married,unknown,0,696,no,no,telephone,17,aug,119,1,105,2,failure,no
28,56,self-employed,married,secondary,0,784,no,yes,cellular,30,jul,149,2,-1,0,unknown,no
29,53,admin.,married,secondary,0,105,no,yes,cellular,21,aug,74,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,35,blue-collar,single,secondary,0,0,yes,no,cellular,16,apr,169,1,-1,0,unknown,no
4492,32,technician,single,secondary,0,309,yes,yes,cellular,16,apr,346,1,234,3,failure,no
4493,28,technician,single,tertiary,0,0,yes,no,unknown,4,jun,205,6,-1,0,unknown,no
4494,26,technician,single,secondary,0,668,yes,no,unknown,28,may,576,3,-1,0,unknown,yes
4495,48,management,married,tertiary,0,1175,yes,no,telephone,18,nov,1476,3,-1,0,unknown,no
4496,30,blue-collar,single,secondary,0,363,no,no,cellular,28,jul,171,3,-1,0,unknown,no
4497,31,entrepreneur,single,tertiary,0,38,no,no,cellular,20,nov,185,2,-1,0,unknown,no
4498,31,management,married,tertiary,0,1183,yes,no,unknown,27,may,676,6,-1,0,unknown,no
4499,45,blue-collar,divorced,primary,0,942,no,no,cellular,21,nov,362,1,-1,0,unknown,no
4500,38,admin.,married,secondary,0,4196,yes,no,cellular,12,may,193,2,-1,0,unknown,no
4501,34,management,married,tertiary,0,297,yes,no,cellular,26,aug,63,4,-1,0,unknown,no
4502,42,services,married,secondary,0,-91,yes,yes,cellular,5,feb,43,1,-1,0,unknown,no
4503,60,self-employed,married,primary,0,362,no,yes,cellular,29,jul,816,6,-1,0,unknown,yes
4504,42,blue-collar,single,secondary,0,1080,yes,yes,cellular,13,may,951,3,370,4,failure,yes
4505,32,admin.,single,secondary,0,620,yes,no,unknown,26,may,1234,3,-1,0,unknown,yes
4506,42,unemployed,divorced,tertiary,0,-166,no,no,cellular,29,aug,85,4,-1,0,unknown,no
4507,33,services,married,secondary,0,288,yes,no,cellular,17,apr,306,1,-1,0,unknown,no
4508,42,admin.,married,unknown,0,642,yes,yes,unknown,16,may,509,2,-1,0,unknown,no
4509,51,technician,married,tertiary,0,2506,no,no,cellular,30,nov,210,3,-1,0,unknown,no
4510,36,technician,divorced,secondary,0,566,yes,no,unknown,20,may,129,2,-1,0,unknown,no
4511,46,blue-collar,married,secondary,0,668,yes,no,unknown,15,may,1263,2,-1,0,unknown,yes
4512,40,blue-collar,married,secondary,0,1100,yes,no,unknown,29,may,660,2,-1,0,unknown,no
4513,49,blue-collar,married,secondary,0,322,no,no,cellular,14,aug,356,2,-1,0,unknown,no
4514,38,blue-collar,married,secondary,0,1205,yes,no,cellular,20,apr,45,4,153,1,failure,no
4515,32,services,single,secondary,0,473,yes,no,cellular,7,jul,624,5,-1,0,unknown,no
4516,33,services,married,secondary,0,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,1,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,0,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,0,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,0,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [13]:
data['marital'] = data['marital'].astype('category')
data['marital'] = data['marital'].cat.codes
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,1,primary,0,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,1,secondary,0,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,2,tertiary,0,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,1,tertiary,0,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,1,secondary,0,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,2,tertiary,0,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,1,tertiary,0,307,yes,no,cellular,14,may,341,1,330,2,other,no
7,39,technician,1,secondary,0,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,1,tertiary,0,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,1,primary,0,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no
10,39,services,1,secondary,0,9374,yes,no,unknown,20,may,273,1,-1,0,unknown,no
11,43,admin.,1,secondary,0,264,yes,no,cellular,17,apr,113,2,-1,0,unknown,no
12,36,technician,1,tertiary,0,1109,no,no,cellular,13,aug,328,2,-1,0,unknown,no
13,20,student,2,secondary,0,502,no,no,cellular,30,apr,261,1,-1,0,unknown,yes
14,31,blue-collar,1,secondary,0,360,yes,yes,cellular,29,jan,89,1,241,1,failure,no
15,40,management,1,tertiary,0,194,no,yes,cellular,29,aug,189,2,-1,0,unknown,no
16,56,technician,1,secondary,0,4073,no,no,cellular,27,aug,239,5,-1,0,unknown,no
17,37,admin.,2,tertiary,0,2317,yes,no,cellular,20,apr,114,1,152,2,failure,no
18,25,blue-collar,2,primary,0,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no
19,31,services,1,secondary,0,132,no,no,cellular,7,jul,148,1,152,1,other,no
20,38,management,0,unknown,0,0,yes,no,cellular,18,nov,96,2,-1,0,unknown,no
21,42,management,0,tertiary,0,16,no,no,cellular,19,nov,140,3,-1,0,unknown,no
22,44,services,2,secondary,0,106,no,no,unknown,12,jun,109,2,-1,0,unknown,no
23,44,entrepreneur,1,secondary,0,93,no,no,cellular,7,jul,125,2,-1,0,unknown,no
24,26,housemaid,1,tertiary,0,543,no,no,cellular,30,jan,169,3,-1,0,unknown,no
25,41,management,1,tertiary,0,5883,no,no,cellular,20,nov,182,2,-1,0,unknown,no
26,55,blue-collar,1,primary,0,627,yes,no,unknown,5,may,247,1,-1,0,unknown,no
27,67,retired,1,unknown,0,696,no,no,telephone,17,aug,119,1,105,2,failure,no
28,56,self-employed,1,secondary,0,784,no,yes,cellular,30,jul,149,2,-1,0,unknown,no
29,53,admin.,1,secondary,0,105,no,yes,cellular,21,aug,74,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,35,blue-collar,2,secondary,0,0,yes,no,cellular,16,apr,169,1,-1,0,unknown,no
4492,32,technician,2,secondary,0,309,yes,yes,cellular,16,apr,346,1,234,3,failure,no
4493,28,technician,2,tertiary,0,0,yes,no,unknown,4,jun,205,6,-1,0,unknown,no
4494,26,technician,2,secondary,0,668,yes,no,unknown,28,may,576,3,-1,0,unknown,yes
4495,48,management,1,tertiary,0,1175,yes,no,telephone,18,nov,1476,3,-1,0,unknown,no
4496,30,blue-collar,2,secondary,0,363,no,no,cellular,28,jul,171,3,-1,0,unknown,no
4497,31,entrepreneur,2,tertiary,0,38,no,no,cellular,20,nov,185,2,-1,0,unknown,no
4498,31,management,1,tertiary,0,1183,yes,no,unknown,27,may,676,6,-1,0,unknown,no
4499,45,blue-collar,0,primary,0,942,no,no,cellular,21,nov,362,1,-1,0,unknown,no
4500,38,admin.,1,secondary,0,4196,yes,no,cellular,12,may,193,2,-1,0,unknown,no
4501,34,management,1,tertiary,0,297,yes,no,cellular,26,aug,63,4,-1,0,unknown,no
4502,42,services,1,secondary,0,-91,yes,yes,cellular,5,feb,43,1,-1,0,unknown,no
4503,60,self-employed,1,primary,0,362,no,yes,cellular,29,jul,816,6,-1,0,unknown,yes
4504,42,blue-collar,2,secondary,0,1080,yes,yes,cellular,13,may,951,3,370,4,failure,yes
4505,32,admin.,2,secondary,0,620,yes,no,unknown,26,may,1234,3,-1,0,unknown,yes
4506,42,unemployed,0,tertiary,0,-166,no,no,cellular,29,aug,85,4,-1,0,unknown,no
4507,33,services,1,secondary,0,288,yes,no,cellular,17,apr,306,1,-1,0,unknown,no
4508,42,admin.,1,unknown,0,642,yes,yes,unknown,16,may,509,2,-1,0,unknown,no
4509,51,technician,1,tertiary,0,2506,no,no,cellular,30,nov,210,3,-1,0,unknown,no
4510,36,technician,0,secondary,0,566,yes,no,unknown,20,may,129,2,-1,0,unknown,no
4511,46,blue-collar,1,secondary,0,668,yes,no,unknown,15,may,1263,2,-1,0,unknown,yes
4512,40,blue-collar,1,secondary,0,1100,yes,no,unknown,29,may,660,2,-1,0,unknown,no
4513,49,blue-collar,1,secondary,0,322,no,no,cellular,14,aug,356,2,-1,0,unknown,no
4514,38,blue-collar,1,secondary,0,1205,yes,no,cellular,20,apr,45,4,153,1,failure,no
4515,32,services,2,secondary,0,473,yes,no,cellular,7,jul,624,5,-1,0,unknown,no
4516,33,services,1,secondary,0,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,1,tertiary,1,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,1,secondary,0,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,1,secondary,0,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,2,tertiary,0,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [14]:
data['education'] = data['education'].astype('category')
data['education'] = data['education'].cat.codes
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,1,0,0,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,1,1,0,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,2,2,0,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,1,2,0,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,1,1,0,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,2,2,0,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,1,2,0,307,yes,no,cellular,14,may,341,1,330,2,other,no
7,39,technician,1,1,0,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,1,2,0,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,1,0,0,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no
10,39,services,1,1,0,9374,yes,no,unknown,20,may,273,1,-1,0,unknown,no
11,43,admin.,1,1,0,264,yes,no,cellular,17,apr,113,2,-1,0,unknown,no
12,36,technician,1,2,0,1109,no,no,cellular,13,aug,328,2,-1,0,unknown,no
13,20,student,2,1,0,502,no,no,cellular,30,apr,261,1,-1,0,unknown,yes
14,31,blue-collar,1,1,0,360,yes,yes,cellular,29,jan,89,1,241,1,failure,no
15,40,management,1,2,0,194,no,yes,cellular,29,aug,189,2,-1,0,unknown,no
16,56,technician,1,1,0,4073,no,no,cellular,27,aug,239,5,-1,0,unknown,no
17,37,admin.,2,2,0,2317,yes,no,cellular,20,apr,114,1,152,2,failure,no
18,25,blue-collar,2,0,0,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no
19,31,services,1,1,0,132,no,no,cellular,7,jul,148,1,152,1,other,no
20,38,management,0,3,0,0,yes,no,cellular,18,nov,96,2,-1,0,unknown,no
21,42,management,0,2,0,16,no,no,cellular,19,nov,140,3,-1,0,unknown,no
22,44,services,2,1,0,106,no,no,unknown,12,jun,109,2,-1,0,unknown,no
23,44,entrepreneur,1,1,0,93,no,no,cellular,7,jul,125,2,-1,0,unknown,no
24,26,housemaid,1,2,0,543,no,no,cellular,30,jan,169,3,-1,0,unknown,no
25,41,management,1,2,0,5883,no,no,cellular,20,nov,182,2,-1,0,unknown,no
26,55,blue-collar,1,0,0,627,yes,no,unknown,5,may,247,1,-1,0,unknown,no
27,67,retired,1,3,0,696,no,no,telephone,17,aug,119,1,105,2,failure,no
28,56,self-employed,1,1,0,784,no,yes,cellular,30,jul,149,2,-1,0,unknown,no
29,53,admin.,1,1,0,105,no,yes,cellular,21,aug,74,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,35,blue-collar,2,1,0,0,yes,no,cellular,16,apr,169,1,-1,0,unknown,no
4492,32,technician,2,1,0,309,yes,yes,cellular,16,apr,346,1,234,3,failure,no
4493,28,technician,2,2,0,0,yes,no,unknown,4,jun,205,6,-1,0,unknown,no
4494,26,technician,2,1,0,668,yes,no,unknown,28,may,576,3,-1,0,unknown,yes
4495,48,management,1,2,0,1175,yes,no,telephone,18,nov,1476,3,-1,0,unknown,no
4496,30,blue-collar,2,1,0,363,no,no,cellular,28,jul,171,3,-1,0,unknown,no
4497,31,entrepreneur,2,2,0,38,no,no,cellular,20,nov,185,2,-1,0,unknown,no
4498,31,management,1,2,0,1183,yes,no,unknown,27,may,676,6,-1,0,unknown,no
4499,45,blue-collar,0,0,0,942,no,no,cellular,21,nov,362,1,-1,0,unknown,no
4500,38,admin.,1,1,0,4196,yes,no,cellular,12,may,193,2,-1,0,unknown,no
4501,34,management,1,2,0,297,yes,no,cellular,26,aug,63,4,-1,0,unknown,no
4502,42,services,1,1,0,-91,yes,yes,cellular,5,feb,43,1,-1,0,unknown,no
4503,60,self-employed,1,0,0,362,no,yes,cellular,29,jul,816,6,-1,0,unknown,yes
4504,42,blue-collar,2,1,0,1080,yes,yes,cellular,13,may,951,3,370,4,failure,yes
4505,32,admin.,2,1,0,620,yes,no,unknown,26,may,1234,3,-1,0,unknown,yes
4506,42,unemployed,0,2,0,-166,no,no,cellular,29,aug,85,4,-1,0,unknown,no
4507,33,services,1,1,0,288,yes,no,cellular,17,apr,306,1,-1,0,unknown,no
4508,42,admin.,1,3,0,642,yes,yes,unknown,16,may,509,2,-1,0,unknown,no
4509,51,technician,1,2,0,2506,no,no,cellular,30,nov,210,3,-1,0,unknown,no
4510,36,technician,0,1,0,566,yes,no,unknown,20,may,129,2,-1,0,unknown,no
4511,46,blue-collar,1,1,0,668,yes,no,unknown,15,may,1263,2,-1,0,unknown,yes
4512,40,blue-collar,1,1,0,1100,yes,no,unknown,29,may,660,2,-1,0,unknown,no
4513,49,blue-collar,1,1,0,322,no,no,cellular,14,aug,356,2,-1,0,unknown,no
4514,38,blue-collar,1,1,0,1205,yes,no,cellular,20,apr,45,4,153,1,failure,no
4515,32,services,2,1,0,473,yes,no,cellular,7,jul,624,5,-1,0,unknown,no
4516,33,services,1,1,0,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,1,2,1,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,1,1,0,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,1,1,0,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,2,2,0,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [16]:
data.default.unique()

array([0, 1], dtype=int64)

In [17]:
data.marital.unique()

array([1, 2, 0], dtype=int64)

In [18]:
data.education.unique()

array([0, 1, 2, 3], dtype=int64)

In [19]:
data['housing'] = data['housing'].astype('category')
data['housing'] = data['housing'].cat.codes
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,1,0,0,1787,0,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,1,1,0,4789,1,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,2,2,0,1350,1,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,1,2,0,1476,1,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,1,1,0,0,1,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,2,2,0,747,0,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,1,2,0,307,1,no,cellular,14,may,341,1,330,2,other,no
7,39,technician,1,1,0,147,1,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,1,2,0,221,1,no,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,1,0,0,-88,1,yes,cellular,17,apr,313,1,147,2,failure,no
10,39,services,1,1,0,9374,1,no,unknown,20,may,273,1,-1,0,unknown,no
11,43,admin.,1,1,0,264,1,no,cellular,17,apr,113,2,-1,0,unknown,no
12,36,technician,1,2,0,1109,0,no,cellular,13,aug,328,2,-1,0,unknown,no
13,20,student,2,1,0,502,0,no,cellular,30,apr,261,1,-1,0,unknown,yes
14,31,blue-collar,1,1,0,360,1,yes,cellular,29,jan,89,1,241,1,failure,no
15,40,management,1,2,0,194,0,yes,cellular,29,aug,189,2,-1,0,unknown,no
16,56,technician,1,1,0,4073,0,no,cellular,27,aug,239,5,-1,0,unknown,no
17,37,admin.,2,2,0,2317,1,no,cellular,20,apr,114,1,152,2,failure,no
18,25,blue-collar,2,0,0,-221,1,no,unknown,23,may,250,1,-1,0,unknown,no
19,31,services,1,1,0,132,0,no,cellular,7,jul,148,1,152,1,other,no
20,38,management,0,3,0,0,1,no,cellular,18,nov,96,2,-1,0,unknown,no
21,42,management,0,2,0,16,0,no,cellular,19,nov,140,3,-1,0,unknown,no
22,44,services,2,1,0,106,0,no,unknown,12,jun,109,2,-1,0,unknown,no
23,44,entrepreneur,1,1,0,93,0,no,cellular,7,jul,125,2,-1,0,unknown,no
24,26,housemaid,1,2,0,543,0,no,cellular,30,jan,169,3,-1,0,unknown,no
25,41,management,1,2,0,5883,0,no,cellular,20,nov,182,2,-1,0,unknown,no
26,55,blue-collar,1,0,0,627,1,no,unknown,5,may,247,1,-1,0,unknown,no
27,67,retired,1,3,0,696,0,no,telephone,17,aug,119,1,105,2,failure,no
28,56,self-employed,1,1,0,784,0,yes,cellular,30,jul,149,2,-1,0,unknown,no
29,53,admin.,1,1,0,105,0,yes,cellular,21,aug,74,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,35,blue-collar,2,1,0,0,1,no,cellular,16,apr,169,1,-1,0,unknown,no
4492,32,technician,2,1,0,309,1,yes,cellular,16,apr,346,1,234,3,failure,no
4493,28,technician,2,2,0,0,1,no,unknown,4,jun,205,6,-1,0,unknown,no
4494,26,technician,2,1,0,668,1,no,unknown,28,may,576,3,-1,0,unknown,yes
4495,48,management,1,2,0,1175,1,no,telephone,18,nov,1476,3,-1,0,unknown,no
4496,30,blue-collar,2,1,0,363,0,no,cellular,28,jul,171,3,-1,0,unknown,no
4497,31,entrepreneur,2,2,0,38,0,no,cellular,20,nov,185,2,-1,0,unknown,no
4498,31,management,1,2,0,1183,1,no,unknown,27,may,676,6,-1,0,unknown,no
4499,45,blue-collar,0,0,0,942,0,no,cellular,21,nov,362,1,-1,0,unknown,no
4500,38,admin.,1,1,0,4196,1,no,cellular,12,may,193,2,-1,0,unknown,no
4501,34,management,1,2,0,297,1,no,cellular,26,aug,63,4,-1,0,unknown,no
4502,42,services,1,1,0,-91,1,yes,cellular,5,feb,43,1,-1,0,unknown,no
4503,60,self-employed,1,0,0,362,0,yes,cellular,29,jul,816,6,-1,0,unknown,yes
4504,42,blue-collar,2,1,0,1080,1,yes,cellular,13,may,951,3,370,4,failure,yes
4505,32,admin.,2,1,0,620,1,no,unknown,26,may,1234,3,-1,0,unknown,yes
4506,42,unemployed,0,2,0,-166,0,no,cellular,29,aug,85,4,-1,0,unknown,no
4507,33,services,1,1,0,288,1,no,cellular,17,apr,306,1,-1,0,unknown,no
4508,42,admin.,1,3,0,642,1,yes,unknown,16,may,509,2,-1,0,unknown,no
4509,51,technician,1,2,0,2506,0,no,cellular,30,nov,210,3,-1,0,unknown,no
4510,36,technician,0,1,0,566,1,no,unknown,20,may,129,2,-1,0,unknown,no
4511,46,blue-collar,1,1,0,668,1,no,unknown,15,may,1263,2,-1,0,unknown,yes
4512,40,blue-collar,1,1,0,1100,1,no,unknown,29,may,660,2,-1,0,unknown,no
4513,49,blue-collar,1,1,0,322,0,no,cellular,14,aug,356,2,-1,0,unknown,no
4514,38,blue-collar,1,1,0,1205,1,no,cellular,20,apr,45,4,153,1,failure,no
4515,32,services,2,1,0,473,1,no,cellular,7,jul,624,5,-1,0,unknown,no
4516,33,services,1,1,0,-333,1,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,1,2,1,-3313,1,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,1,1,0,295,0,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,1,1,0,1137,0,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,2,2,0,1136,1,yes,cellular,3,apr,345,2,249,7,other,no

In [20]:
data.housing.unique()

array([0, 1], dtype=int64)

In [22]:
data['loan'] = data['loan'].astype('category')
data['loan'] = data['loan'].cat.codes
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,1,0,0,1787,0,0,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,1,1,0,4789,1,1,cellular,11,may,220,1,339,4,failure,no
2,35,management,2,2,0,1350,1,0,cellular,16,apr,185,1,330,1,failure,no
3,30,management,1,2,0,1476,1,1,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,1,1,0,0,1,0,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,2,2,0,747,0,0,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,1,2,0,307,1,0,cellular,14,may,341,1,330,2,other,no
7,39,technician,1,1,0,147,1,0,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,1,2,0,221,1,0,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,1,0,0,-88,1,1,cellular,17,apr,313,1,147,2,failure,no
10,39,services,1,1,0,9374,1,0,unknown,20,may,273,1,-1,0,unknown,no
11,43,admin.,1,1,0,264,1,0,cellular,17,apr,113,2,-1,0,unknown,no
12,36,technician,1,2,0,1109,0,0,cellular,13,aug,328,2,-1,0,unknown,no
13,20,student,2,1,0,502,0,0,cellular,30,apr,261,1,-1,0,unknown,yes
14,31,blue-collar,1,1,0,360,1,1,cellular,29,jan,89,1,241,1,failure,no
15,40,management,1,2,0,194,0,1,cellular,29,aug,189,2,-1,0,unknown,no
16,56,technician,1,1,0,4073,0,0,cellular,27,aug,239,5,-1,0,unknown,no
17,37,admin.,2,2,0,2317,1,0,cellular,20,apr,114,1,152,2,failure,no
18,25,blue-collar,2,0,0,-221,1,0,unknown,23,may,250,1,-1,0,unknown,no
19,31,services,1,1,0,132,0,0,cellular,7,jul,148,1,152,1,other,no
20,38,management,0,3,0,0,1,0,cellular,18,nov,96,2,-1,0,unknown,no
21,42,management,0,2,0,16,0,0,cellular,19,nov,140,3,-1,0,unknown,no
22,44,services,2,1,0,106,0,0,unknown,12,jun,109,2,-1,0,unknown,no
23,44,entrepreneur,1,1,0,93,0,0,cellular,7,jul,125,2,-1,0,unknown,no
24,26,housemaid,1,2,0,543,0,0,cellular,30,jan,169,3,-1,0,unknown,no
25,41,management,1,2,0,5883,0,0,cellular,20,nov,182,2,-1,0,unknown,no
26,55,blue-collar,1,0,0,627,1,0,unknown,5,may,247,1,-1,0,unknown,no
27,67,retired,1,3,0,696,0,0,telephone,17,aug,119,1,105,2,failure,no
28,56,self-employed,1,1,0,784,0,1,cellular,30,jul,149,2,-1,0,unknown,no
29,53,admin.,1,1,0,105,0,1,cellular,21,aug,74,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,35,blue-collar,2,1,0,0,1,0,cellular,16,apr,169,1,-1,0,unknown,no
4492,32,technician,2,1,0,309,1,1,cellular,16,apr,346,1,234,3,failure,no
4493,28,technician,2,2,0,0,1,0,unknown,4,jun,205,6,-1,0,unknown,no
4494,26,technician,2,1,0,668,1,0,unknown,28,may,576,3,-1,0,unknown,yes
4495,48,management,1,2,0,1175,1,0,telephone,18,nov,1476,3,-1,0,unknown,no
4496,30,blue-collar,2,1,0,363,0,0,cellular,28,jul,171,3,-1,0,unknown,no
4497,31,entrepreneur,2,2,0,38,0,0,cellular,20,nov,185,2,-1,0,unknown,no
4498,31,management,1,2,0,1183,1,0,unknown,27,may,676,6,-1,0,unknown,no
4499,45,blue-collar,0,0,0,942,0,0,cellular,21,nov,362,1,-1,0,unknown,no
4500,38,admin.,1,1,0,4196,1,0,cellular,12,may,193,2,-1,0,unknown,no
4501,34,management,1,2,0,297,1,0,cellular,26,aug,63,4,-1,0,unknown,no
4502,42,services,1,1,0,-91,1,1,cellular,5,feb,43,1,-1,0,unknown,no
4503,60,self-employed,1,0,0,362,0,1,cellular,29,jul,816,6,-1,0,unknown,yes
4504,42,blue-collar,2,1,0,1080,1,1,cellular,13,may,951,3,370,4,failure,yes
4505,32,admin.,2,1,0,620,1,0,unknown,26,may,1234,3,-1,0,unknown,yes
4506,42,unemployed,0,2,0,-166,0,0,cellular,29,aug,85,4,-1,0,unknown,no
4507,33,services,1,1,0,288,1,0,cellular,17,apr,306,1,-1,0,unknown,no
4508,42,admin.,1,3,0,642,1,1,unknown,16,may,509,2,-1,0,unknown,no
4509,51,technician,1,2,0,2506,0,0,cellular,30,nov,210,3,-1,0,unknown,no
4510,36,technician,0,1,0,566,1,0,unknown,20,may,129,2,-1,0,unknown,no
4511,46,blue-collar,1,1,0,668,1,0,unknown,15,may,1263,2,-1,0,unknown,yes
4512,40,blue-collar,1,1,0,1100,1,0,unknown,29,may,660,2,-1,0,unknown,no
4513,49,blue-collar,1,1,0,322,0,0,cellular,14,aug,356,2,-1,0,unknown,no
4514,38,blue-collar,1,1,0,1205,1,0,cellular,20,apr,45,4,153,1,failure,no
4515,32,services,2,1,0,473,1,0,cellular,7,jul,624,5,-1,0,unknown,no
4516,33,services,1,1,0,-333,1,0,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,1,2,1,-3313,1,1,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,1,1,0,295,0,0,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,1,1,0,1137,0,0,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,2,2,0,1136,1,1,cellular,3,apr,345,2,249,7,other,no

In [23]:
data.contact.unique()

array(['cellular', 'unknown', 'telephone'], dtype=object)

In [25]:
data['contact'] = data['contact'].astype('category')
data['contact'] = data['contact'].cat.codes
data.contact.unique()

array([0, 2, 1], dtype=int64)

In [28]:
data.month.unique()

array(['oct', 'may', 'apr', 'jun', 'feb', 'aug', 'jan', 'jul', 'nov',
       'sep', 'mar', 'dec'], dtype=object)

In [29]:
data['month'] = data['month'].astype('category')
data['month'] = data['month'].cat.codes
data.month.unique()

array([10,  8,  0,  6,  3,  1,  4,  5,  9, 11,  7,  2], dtype=int64)

In [30]:
data.poutcome.unique()

array(['unknown', 'failure', 'other', 'success'], dtype=object)

In [31]:
data['poutcome'] = data['poutcome'].astype('category')
data['poutcome'] = data['poutcome'].cat.codes
data.poutcome.unique()

array([3, 0, 1, 2], dtype=int64)

In [32]:
data.y.unique()

array(['no', 'yes'], dtype=object)

In [33]:
data['y'] = data['y'].astype('category')

In [34]:
data['y'] = data['y'].cat.codes
data.y.unique()

array([0, 1], dtype=int64)

In [35]:
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,1,0,0,1787,0,0,0,19,10,79,1,-1,0,3,0
1,33,services,1,1,0,4789,1,1,0,11,8,220,1,339,4,0,0
2,35,management,2,2,0,1350,1,0,0,16,0,185,1,330,1,0,0
3,30,management,1,2,0,1476,1,1,2,3,6,199,4,-1,0,3,0
4,59,blue-collar,1,1,0,0,1,0,2,5,8,226,1,-1,0,3,0
5,35,management,2,2,0,747,0,0,0,23,3,141,2,176,3,0,0
6,36,self-employed,1,2,0,307,1,0,0,14,8,341,1,330,2,1,0
7,39,technician,1,1,0,147,1,0,0,6,8,151,2,-1,0,3,0
8,41,entrepreneur,1,2,0,221,1,0,2,14,8,57,2,-1,0,3,0
9,43,services,1,0,0,-88,1,1,0,17,0,313,1,147,2,0,0
10,39,services,1,1,0,9374,1,0,2,20,8,273,1,-1,0,3,0
11,43,admin.,1,1,0,264,1,0,0,17,0,113,2,-1,0,3,0
12,36,technician,1,2,0,1109,0,0,0,13,1,328,2,-1,0,3,0
13,20,student,2,1,0,502,0,0,0,30,0,261,1,-1,0,3,1
14,31,blue-collar,1,1,0,360,1,1,0,29,4,89,1,241,1,0,0
15,40,management,1,2,0,194,0,1,0,29,1,189,2,-1,0,3,0
16,56,technician,1,1,0,4073,0,0,0,27,1,239,5,-1,0,3,0
17,37,admin.,2,2,0,2317,1,0,0,20,0,114,1,152,2,0,0
18,25,blue-collar,2,0,0,-221,1,0,2,23,8,250,1,-1,0,3,0
19,31,services,1,1,0,132,0,0,0,7,5,148,1,152,1,1,0
20,38,management,0,3,0,0,1,0,0,18,9,96,2,-1,0,3,0
21,42,management,0,2,0,16,0,0,0,19,9,140,3,-1,0,3,0
22,44,services,2,1,0,106,0,0,2,12,6,109,2,-1,0,3,0
23,44,entrepreneur,1,1,0,93,0,0,0,7,5,125,2,-1,0,3,0
24,26,housemaid,1,2,0,543,0,0,0,30,4,169,3,-1,0,3,0
25,41,management,1,2,0,5883,0,0,0,20,9,182,2,-1,0,3,0
26,55,blue-collar,1,0,0,627,1,0,2,5,8,247,1,-1,0,3,0
27,67,retired,1,3,0,696,0,0,1,17,1,119,1,105,2,0,0
28,56,self-employed,1,1,0,784,0,1,0,30,5,149,2,-1,0,3,0
29,53,admin.,1,1,0,105,0,1,0,21,1,74,2,-1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,35,blue-collar,2,1,0,0,1,0,0,16,0,169,1,-1,0,3,0
4492,32,technician,2,1,0,309,1,1,0,16,0,346,1,234,3,0,0
4493,28,technician,2,2,0,0,1,0,2,4,6,205,6,-1,0,3,0
4494,26,technician,2,1,0,668,1,0,2,28,8,576,3,-1,0,3,1
4495,48,management,1,2,0,1175,1,0,1,18,9,1476,3,-1,0,3,0
4496,30,blue-collar,2,1,0,363,0,0,0,28,5,171,3,-1,0,3,0
4497,31,entrepreneur,2,2,0,38,0,0,0,20,9,185,2,-1,0,3,0
4498,31,management,1,2,0,1183,1,0,2,27,8,676,6,-1,0,3,0
4499,45,blue-collar,0,0,0,942,0,0,0,21,9,362,1,-1,0,3,0
4500,38,admin.,1,1,0,4196,1,0,0,12,8,193,2,-1,0,3,0
4501,34,management,1,2,0,297,1,0,0,26,1,63,4,-1,0,3,0
4502,42,services,1,1,0,-91,1,1,0,5,3,43,1,-1,0,3,0
4503,60,self-employed,1,0,0,362,0,1,0,29,5,816,6,-1,0,3,1
4504,42,blue-collar,2,1,0,1080,1,1,0,13,8,951,3,370,4,0,1
4505,32,admin.,2,1,0,620,1,0,2,26,8,1234,3,-1,0,3,1
4506,42,unemployed,0,2,0,-166,0,0,0,29,1,85,4,-1,0,3,0
4507,33,services,1,1,0,288,1,0,0,17,0,306,1,-1,0,3,0
4508,42,admin.,1,3,0,642,1,1,2,16,8,509,2,-1,0,3,0
4509,51,technician,1,2,0,2506,0,0,0,30,9,210,3,-1,0,3,0
4510,36,technician,0,1,0,566,1,0,2,20,8,129,2,-1,0,3,0
4511,46,blue-collar,1,1,0,668,1,0,2,15,8,1263,2,-1,0,3,1
4512,40,blue-collar,1,1,0,1100,1,0,2,29,8,660,2,-1,0,3,0
4513,49,blue-collar,1,1,0,322,0,0,0,14,1,356,2,-1,0,3,0
4514,38,blue-collar,1,1,0,1205,1,0,0,20,0,45,4,153,1,0,0
4515,32,services,2,1,0,473,1,0,0,7,5,624,5,-1,0,3,0
4516,33,services,1,1,0,-333,1,0,0,30,5,329,5,-1,0,3,0
4517,57,self-employed,1,2,1,-3313,1,1,2,9,8,153,1,-1,0,3,0
4518,57,technician,1,1,0,295,0,0,0,19,1,151,11,-1,0,3,0
4519,28,blue-collar,1,1,0,1137,0,0,0,6,3,129,4,211,3,1,0
4520,44,entrepreneur,2,2,0,1136,1,1,0,3,0,345,2,249,7,1,0

In [36]:
data.groupby(["housing","loan"]).size()

housing  loan
0        0       1677
         1        285
1        0       2153
         1        406
dtype: int64

In [37]:
data.previous.unique()

array([ 0,  4,  1,  3,  2,  5, 20,  7,  6, 10,  9,  8, 18, 19, 12, 13, 11,
       14, 15, 24, 17, 22, 23, 25], dtype=int64)

In [38]:
data['previous'] = data['previous'].astype('category')
data.previous.unique()

[0, 4, 1, 3, 2, ..., 24, 17, 22, 23, 25]
Length: 24
Categories (24, int64): [0, 4, 1, 3, ..., 17, 22, 23, 25]

In [39]:
data.groupby(["education","loan"]).size()

education  loan
0          0        584
           1         94
1          0       1890
           1        416
2          0       1176
           1        174
3          0        180
           1          7
dtype: int64

In [40]:
from pgmpy.models import MarkovModel

ImportError: No module named pgmpy.models

In [42]:
import scipy